.footer-container {
  background: linear-gradient(
    90deg,
    #927415 -2.03%,
    #e2b72b 52.17%,
    #b5952d 100%
  );

  padding: 2rem;

  .footer-locations {
    display: flex;
    flex: 1;
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
}
