@import "../../styles/main.scss";

.photo-grid {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "div1 div2 div0 div0 "
    "div3 div4 div0 div0 ";

  @media (max-width: 500px) {
    margin: $mobile-margin-neg-x;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "div1 div2"
      "div3 div4"
      "div0 div0";
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.div0 {
  grid-area: div0;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/bg_swirl.jpeg);
  background-size: cover;
}
.div1 {
  grid-area: div1;
}
.div2 {
  grid-area: div2;
}
.div3 {
  grid-area: div3;
}
.div4 {
  grid-area: div4;
}

.feature-grid {
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    gap: 0rem;
    margin: 2rem auto;
  }
}

.feature-card {
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  .accent {
    background: $background-gold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
