.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  background: #000;
  padding: 1rem;
  background: url(../../assets/bg_swirl.jpeg);
  background-size: cover;

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 35px;
    color: #f5f5f0;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 30px;
      line-height: unset;
    }

    h3 {
      font-size: 25px;
    }
  }

  .hero-logo {
    width: 20rem;

    @media (max-width: 800px) {
      width: 15rem;
      margin-top: 1rem;
    }
    @media (max-width: 400px) {
      width: 10rem;
      margin-top: 1rem;
    }
  }

  button {
    margin: 0rem auto;
    background: linear-gradient(
      90deg,
      #927415 -2.03%,
      #e2b72b 52.17%,
      #b5952d 100%
    );
  }
}
