$background-gold: linear-gradient(
  90deg,
  #927415 -2.03%,
  #e2b72b 52.17%,
  #b5952d 100%
);

$main-margin: 5rem 3rem;
$main-margin-neg: -5rem -3rem 0;
$main-margin-neg-x: 0 -3rem;
$main-margin-neg-y: -5rem 0;

$mobile-margin: 3rem 1rem;
$mobile-margin-neg: -3rem -1rem 0;
$mobile-margin-neg-x: 0 -1rem;
$mobile-margin-neg-y: -3rem 0;
